.SN-date{
    color: #636568;
}

.news-text{
    font-size: calc(12px + 1vmin);
}

.slider-images{
    width: 100%;
    /*max-height: 320px;*/
    /*height: 100%;*/
}

.image-gallery-left-nav,
.image-gallery-right-nav {
    padding: 50px 10px;
    top: 50%;
    transform: translateY(-50%); }
.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
    height: 40px;
    width: 20px; }
@media (max-width: 768px) {
    .image-gallery-left-nav .image-gallery-svg,
    .image-gallery-right-nav .image-gallery-svg {
        height: 30px;
        width: 20px; } }
@media (max-width: 480px) {
    .image-gallery-left-nav .image-gallery-svg,
    .image-gallery-right-nav .image-gallery-svg {
        height: 20px;
        width: 12px; } }
.image-gallery-left-nav[disabled],
.image-gallery-right-nav[disabled] {
    cursor: disabled;
    opacity: .6;
    pointer-events: none; }