.subtitle{
    color: #08307D;
    display: flex;
    flex-direction: row;
}

.subtitle:after {
    content: "";
    flex: 1 1;
    border-bottom: 2px solid #000;
    border-color: #08307D;
    margin: auto 8px;
}