.App-Footer {
    font-size: calc(10px + 1vmin);
    color: white;
    background-color: #16418D;
    /*background-image: url("MotywFooter.png");*/
}

.footer-a{
    color: white;
}

.footer-copyrights{
    background-color: #2d2927;
    font-size: 10px;
}

